[alias]
	s = status
	d = difftool --dir-diff
	a = add --all
	ds = difftool --dir-diff --staged
	c = commit -m
	ap = add --all -p
	b = branch -vv
	tree-sha1 = log --pretty=format:'%T %s'
	r = remote -v
[commit]
	gpgsign = true
[diff]
	tool = meld
[merge]
	tool = meld
[user]
	name = Marek Dědič
	signingkey = CE157DD2
	email = developer@dedic.eu
[pull]
	rebase = false
[init]
	defaultBranch = master
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
