[alias]
	s = status
	d = difftool
	a = add --all
	ds = difftool --staged
	c = commit -m
	ap = add --all -p
	b = branch -vv
	tree-sha1 = log --pretty=format:'%T %s'
[commit]
	gpgsign = true
[diff]
	tool = meld
[merge]
	tool = meld
[user]
	name = Marek Dědič
	signingkey = CE157DD2
	email = developer@dedic.eu
