[alias]
	s = status
	d = difftool --dir-diff
	a = add --all
	ds = difftool --dir-diff --staged
	c = commit -m
	ap = add --all -p
	b = branch -vv
	tree-sha1 = log --pretty=format:'%T %s'
	r = remote -v
	autosquash = rebase --interactive --autosquash master
[commit]
	gpgsign = true
[diff]
	tool = meld
	algorithm = histogram
[merge]
	tool = meld
	conflictStyle = zdiff3
[user]
	name = Marek Dědič
	signingkey = C23EEA30!
	email = developer@dedic.eu
[pull]
	rebase = false
[init]
	defaultBranch = master
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[push]
	autoSetupRemote = true
[tag]
	gpgSign = true
[rerere]
	enabled = true
